html,body,a,p,h1,h2,h3,h4,h5,h6,strong,em,span,i,input,textarea,img,button,select,li,ol,ul,table{
    padding: 0;
    margin:0;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    font-size:14px;
}
strong,em{
    font-style: normal;
}
input,button{
    border:none;
}
ul,li,ol{
    list-style: none;
}
table{
    border:none;
}

body{
    font-size: 14px;
    font-family: "Microsoft YaHei", sans-serif;
    background:#f5f5f5;
}
a{
    color:#666;
    text-decoration:none;
}






.header{
    width:100%;
    height:80px;
    background: #532B5D;
    overflow: hidden;
}
.header .gitHub-icon{
    float: right;
    margin-right:10px;
    margin-top:46px;
    height:34px;
    width:30px;
    display: block;
    background: url("../images/icon-github.png") no-repeat;
}
.header .header-wrapper{
    width:980px;
    margin:0 auto;
    overflow: hidden;
}
.header .header-wrapper .logo{
    float: left;
    font-size:18px;
    color:#FFF;
    font-weight: bold;
    padding-top:50px;
}
.header .header-wrapper .nav{
    float: right;
}
.header .header-wrapper .nav li{
    float: left;
    padding:55px 0 5px 28px;
    font-size:14px;
    font-family: ו;
}
.header .header-wrapper .nav li a{
    color:#FFF;
}
.header .header-wrapper .nav li a:hover{
    color: #be6fb2;
}

.footer{
    background: #111;
    color:#FFF;
    height: 330px;
    overflow: hidden;
    clear:both;
}
.footer .bom-nav{
    width:100%;
    border-bottom: 1px solid #999;
}
.footer .bom-nav ul{
    width: 240px;
    margin:0 auto;
    height:40px;
    line-height: 40px;

}
.footer .bom-nav li{
    float: left;
    padding:0 15px;
    color:#FFF;
}
.footer .friendsite{
    width:980px;
    height:180px;
    margin:0 auto;
    padding-top:50px;
}
.footer .friendsite .footer-list-item{
    width:150px;
    float:left;
    margin:0 20px;
}
.footer .friendsite .footer-list-item h1{
    font-size:16px;
    color:#999;
    padding-bottom: 20px;
}
.footer .friendsite .footer-list-item a{
    color:#FFF;
    line-height: 1.6;
}
.footer .friendsite .footer-list-item a:hover{
    color:#1d7db1;
}
.footer .copyright{
    width:60px;
    height:80px;
    margin: 0 auto;
}
.footer .copyright p{
    text-align: center;
}
.footer .copyright img{
    padding:10px 12px 0 12px;
}