.main-body{
    width:980px;
    margin:20px auto;
    clear: both;;
}
.main-body .phra-groupLeft{
    width:690px;
    float: left;
}
.main-body .phra-groupLeft .phra-item{
    padding:10px;
    background: #FFF;
    margin-bottom: 10px;
}
.main-body .phra-groupLeft .leftInfo{
    float: left;
    margin-left:-60px;
    margin-top:10px;
}
.main-body .phra-groupLeft .leftInfo p{
    width: 50px;
    height:40px;
    text-align: center;
    line-height: 40px;
    color:#FFF;
}
.main-body .phra-groupLeft .phra-item .leftInfo .time{
    background: #532B5D;
}
.main-body .phra-groupLeft .phra-item .leftInfo .type{
    background: #A661B7;
}
.main-body .phra-groupLeft .phra-item .leftInfo .phra{
    padding:20px 10px 10px 10px;
    overflow: hidden;
}
.main-body .phra-groupLeft .phra-item .phra .phra-title{
    color:#A661B7;
    font-size:16px;
    font-weight: bold;
    padding-bottom:10px;
}
.main-body .phra-groupLeft .phra-item  .phra .small-title{
    color:#999;
    font-size:12px;
    font-weight: bold;
    padding-bottom:5px;
}
.main-body .phra-groupLeft .phra-item  .phra .phra-text{
    text-indent: 2em;
    line-height: 2;
    font-size:12px;
    padding-bottom: 20px;
}
.main-body .phra-groupLeft .phra-item  .phra .sub-line{
    text-align: right;
    color:#999;
    font-size:12px;
    padding-right: 10px;
}

.main-body .pages{
    text-align: center;
}
.main-body .pages a{
    display: inline-block;
    margin:0 5px;
    height:30px;
    padding: 5px 15px;
    background: #FFF;
    text-align: center;
    line-height: 30px;
}
/*.main-body .pages .bigger-btn{
    width:70px;
}
.main-body .pages .smaller-btn{
    width:40px;
}*/
.main-body .pages .first-page,
.main-body .pages  .before-page{
    color:#999;
}
.main-body .pages  .current{
    background:#A661B7;
}
.main-body .pages  a.current{
    color:#FFF;
}
.main-body .main-body-right{
    float: right;
    width:260px;
    margin-left:20px;
}
/*search-box*/
.main-body .main-body-right .search-box{
    height:40px;
    width:220px;
    padding:20px;
    background: #FFF;
}
.main-body .main-body-right .search-box .search-bar{
    overflow: hidden;
    border:1px solid #DFDFDF;
}
.main-body .main-body-right .search-box .search-bar .search-text{
    height:40px;
    width:120px;
    float: left;
    padding-left:50px;
}
.main-body .main-body-right .search-box .search-bar .search-btn{
    height:40px;
    width:48px;
    text-align: center;
    line-height: 40px;
    color:#FFF;
    background: #DFDFDF;
    font-size: 22px;
    float: right;
}
/*cate*/
.main-body .main-body-right  .cate{
    height:200px;
    background:#FFF;
    margin-top:10px;
}
.main-body .main-body-right  .cate li{
    height:49px;
    border-top: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
    margin-bottom: -1px;
    border-left:4px solid #A661B7;
    padding-left:10px;
    line-height: 49px;
}
.main-body .main-body-right  .cate .active,
.main-body .main-body-right  .cate li:hover{
    border-left:4px solid #532B5D;
}
/*---------------------------------------time-box--------------------------*/
.main-body .main-body-right .calendar{
    height:200px;
    padding:20px 10px;
    background: #FFF;
    margin-top:10px;
}
.main-body .main-body-right .calendar table{
    width:100%;
    text-align: center;
}
.main-body .main-body-right .calendar table thead,
.main-body .main-body-right .calendar table thead a{
    color:#532B5D;
    font-weight: 700;
    padding-bottom: 10px;
}
.main-body .main-body-right .calendar table tbody tr{
    border-bottom: 1px solid #DFDFDF;
}
.main-body .main-body-right .calendar table tbody td{
    padding:7px;
}
.main-body .main-body-right .calendar table tbody td:hover{
    color:#532B5D;
}
.main-body .main-body-right .calendar table tbody .current{
    background:#532B5D;
    color:#FFF;
}
.main-body .main-body-right .tags{
    background:#FFF;
    margin-top:10px;
    height:200px;
    padding:10px;
    overflow: hidden;
}
.main-body .main-body-right .tags .tag-name{
    float: left;
}
.main-body .main-body-right .tags a{
    color:#532b5d;
    padding:0 3px;
}
.main-body .main-body-right .tags .tag-title{
    padding-bottom: 10px;
}
.main-body .main-body-right .tags a:nth-child(2n){
    font-size:24px;
    font-weight:700;
}
.main-body .main-body-right .tags a:nth-child(2n+1){
    font-size:16px;
}
.main-body .main-body-right .tags a:nth-child(3n+1){
    font-size:12px;
}