.header{
    width:100%;
    height:80px;
    background: #532B5D;
}
.header .gitHub-icon{
    float: right;
    margin-right:10px;
    margin-top:46px;
    height:34px;
    width:30px;
    display: block;
    background: url("../images/icon-github.png") no-repeat;
}
.header .header-wrapper{
    width:980px;
    margin:0 auto;
    overflow: hidden;
}
.header .header-wrapper .logo{
    float: left;
    font-size:18px;
    color:#FFF;
    font-weight: bold;
    padding-top:50px;
}
.header .header-wrapper .nav{
    float: right;
}
.header .header-wrapper .nav li{
    float: left;
    padding:55px 0 5px 28px;
    font-size:14px;
    font-family: ו;
}
.header .header-wrapper .nav li a{
    color:#FFF;
}
.header .header-wrapper .nav li a:hover{
    color: #be6fb2;
}

/*banner*/
.main-body .banner{
    position: relative;
}
.main-body .banner .banner-bg{
    height:525px;
    width:100%;
}
.main-body .banner .banner-text{
    width:300px;
    height:140px;
    position: absolute;
    bottom: 0;
    left:50%;
    margin-left:170px;
    padding:10px 10px 30px 10px;
    color:#FFF;
    overflow: hidden;
    background:-webkit-linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.1));
}
.main-body .banner .banner-text .title{
    float: right;
    font-size:14px;
    padding-bottom: 14px;
}
.main-body .banner .banner-text .chapter{
    font-size:12px;
    clear:right;
    line-height: 1.5;
    text-indent: 2.5em;
}

/*img-group*/
.main-body .img-group{
    width: 980px;
    margin:10px auto;
    overflow: hidden;
}
.main-body .img-group .img-item{
    padding:10px 10px 20px 10px;
}
.left,.center,.right{
    width: 320px;
    float: left;
    background:#FFF;
    margin-bottom:-10000px;
    padding-bottom:10000px;
    margin-left:3px;
    margin-right:3px;
}
.main-body .img-group .img-item img{
    width:300px;
    height:180px;
}
.main-body .aboutme{
    margin:100px auto;
    background:#FFF;
    width: 100%;
    position: relative;
}
.main-body .aboutme img.profile{
    border-radius: 50%;
    width:80px;
    height:80px;
    position: absolute;
    top:0;
    left:50%;
    margin-left:-40px;
    margin-top:-30px;
}
.main-body .aboutme .aboutme-title{
    text-align: center;
    font-size:20px;
    font-family: Century Gothic;
    padding-top: 70px;
}
.main-body .aboutme .aboutme-text{
    width:600px;
    text-indent:2.5em;
    line-height: 1.7;
    margin: 30px auto;
    padding-bottom: 50px;
}

