/*===========清除样式============*/
html,body,a,p,h1,h2,h3,h4,h5,h6,strong,em,span,i,input,textarea,img,button,select,li,ol,ul,table,dd,dl,dt{
    padding: 0;
    margin:0;
    outline:none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
    font-size:12px;
}
strong,em{
    font-style: normal;
    font-weight: normal;
}
input,button{
    border:none;
}
ul,li,ol{
    list-style: none;
}
body{
    font-size:12px;
    font-family: "Microsoft YaHei", sans-serif;
}
body{
    width:880px;
    height: 600px;
    margin:50px auto;
    overflow: hidden;
}
a{
    color: #333;
    text-decoration: none;
}

/*================index=========================*/
.header{
    height:20px;
    background: #DFDFDF;
    padding:20px;
    line-height: 20px;
}
.header h1{
    color:#666;
    font-size: 20px;
    font-weight: 500;
}
.main{
    overflow: hidden;
}
/*==========classLeft================*/
.main .classLeft{
    width:180px;
    float: left;
    height:360px;
    background:#F3F3F3;
    padding:20px 0;
    position: relative;
    overflow: scroll;
}

.main .classLeft h3{
    padding:0 10px 10px 10px;
}
.main .classLeft ul li{
    padding:4px 0px;
}
.main .classLeft ul.all-task{

}
.main .classLeft dl{
    margin:5px 0;
}
.main .classLeft dl dd{
    padding-left:30px;
    line-height: 25px;
    height: 25px;
}
.main .classLeft ul li .removeTask{
    float:right;
    display: none;
    margin-top:-17px;
}
.main .classLeft ul li a i{
    padding: 0 10px;
}
.main .classLeft ul li:hover .removeTask{
    display: block;
}
.main .classLeft .addNewCate{
    width:100%;
    height:35px;
    line-height: 35px;
    border-top:1px solid #ddd;
    position: absolute;
    bottom:0;
    left:0;
    padding:0 10px;
}
.main .classLeft .addNewCate i{
    padding-right: 5px;
}
/* 点击分类或任务添加current类*/
.main .classLeft .current{
    background:#FFF;
}
/*=========taskCenter==========*/
.main .taskCenter{
    width:220px;
    height:400px;;
    float: left;
    border:1px solid #ddd;
    border-top:none;
    border-bottom:none;
    position: relative;
    overflow:scroll;
}
 .cateList{
    line-height: 35px;
    height:35px;
    background:#F3F3F3;
    border-bottom:1px solid #ddd;
}
 .cateList li{
    float: left;
    padding:0 10px;
}
 .cateList li a{
    padding:1px 5px;
}
 .cateList li a.cur{
    background: #FFF;
    border:1px solid #ddd;
}
.main .taskCenter .taskList{

}
 .taskList .taskItem{
    line-height:26px;
}
 .taskList .taskItem .taskTime{
    background: #fffae3;
    padding:0 10px;
}
 .taskList .taskItem li{
    padding-left: 20px;
    cursor: pointer;
}
 .taskList .taskItem li.finished{
    color: #1bda0a;
}
 .taskList .taskItem li.cur{
    background: #f3f3f3;
}
.main .taskCenter .addNewTask{
    width:100%;
    height:35px;
    line-height: 35px;
    border-top:1px solid #ddd;
    position: absolute;
    bottom:0;
    left:0;
    background:#f3f3f3;
    padding:0 10px;
}
.main .taskCenter .addNewTask i{
    padding-right:5px;
}

/*===========detailRight===================*/
.main .editRight,
.main .detailRight{
    float: right;
}
.main .detailRight{
    width:478px;
    height:400px;
    overflow: scroll;
}
.main  .editIcon{
    float: right;
    line-height: 50px;
}
.main  .editIcon i{
    margin-right:15px;
}
.main  .detailTitle{
    width:100%;
    height:40px;
    line-height:40px;
    font-weight: bolder;
    border-bottom:1px solid #ddd;
    background:#f3f3f3;
    padding:0 10px;
}
.main  .finishDate{
    width:100%;
    height:40px;
    line-height:40px;
    border-bottom:1px solid #ddd;
    background: #fffae3;
    padding:0 10px;
}
.main  .detailContent{
    padding:10px 10px;
}

/*===========editRigth===============*/
.main .editRight{
    padding:10px;
    width:458px;
    height:380px;
    position: relative;
    overflow: scroll;
}
.main .editRight label{
    display: block;
}
.main .editRight input{
    width:180px;
    height:25px;
    margin-bottom:10px;
    border:1px solid #ddd;
    border-radius:3px;
    padding-left:10px;
}
.main .editRight .tip{
    padding-left:10px;
}
.main .editRight textarea{
    width:250px;
    min-height:200px;
    display: block;
    border:1px solid #ddd;
    margin-top:10px;
    border-radius:3px;
    padding:10px;
}
.main .editRight .buttonGroup{
    position: absolute;
    bottom:0;
    left:10px;
}
.main .editRight .taTip{
    margin-top:5px;
}
.main .editRight button{
    padding:5px 8px;
    background:#f3f3f3;
    border:1px solid #ddd;
    margin-right: 10px;
    border-radius:3px;
    color:#666;
}
.main .editRight input:focus,
.main .editRight textarea:focus{
    border:2px solid #ff740a;
}

.hidden{
    display:none;
}
.show{
    display:block;
}
